[submodule "pvScanIOC"]
	path = pvScanIOC
	url = https://github.com/mpdunning/pvScanIOC
    ignore = dirty
[submodule "pvScanDisplay"]
	path = pvScanDisplay
	url = https://github.com/mpdunning/pvScanDisplay
    ignore = dirty
